* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Roboto', sans-serif;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
header div {
	width: 20%;
	height: 200px;
	margin: 2.5%;
	background-color: #3EBDFF;
	float: left;
}
header div:nth-child(1) {
	background-color: #00BA8E;
}
header div:nth-child(2) {
	background-color: #FFBF00;
}
header div:nth-child(3) {
	background-color: #0070CA;
}
header div:nth-child(4) {
	background-color: #BA002B;
}
header div:hover {
	background-color: #666;
}
/* nav */
nav {
	background: #555;	
	padding: 20px 0 20px 50px;
}
nav ul {
	list-style: none;
		
}
nav ul li {
	float: left;	
	width: 15%;
	margin: 0 20px;
}
nav ul li a {
	display: block;
	border: 2px solid #fff;	
	padding: 10px;	
	font-size: 20px;
	color: white;
	background-color: #333;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

}
nav ul li a:hover {
	border: 2px solid #0070CA;
	color: #0070CA;
}